Library:
Web3,Pandas,scikit-learn,fastapi uvicorn
API KEY:
Meta Mask : 9d96caf1352742cbac1986585bb35463
Meta Mask : https://polygon-mainnet.infura.io/v3/9d96caf1352742cbac1986585bb35463
Ether Scan : VJC3HNMXNZJISBZ5V8R11AFT499AB95GX7
Alchmy Scan : BypJUUKSl47j4fi1DKjf7tcnkIoy7YYV
ALCHEMY_ETH_URL = "https://eth-mainnet.g.alchemy.com/v2/BypJUUKSl47j4fi1DKjf7tcnkIoy7YYV"
ALCHEMY_POLYGON_URL = "https://polygon-mainnet.g.alchemy.com/v2/BypJUUKSl47j4fi1DKjf7tcnkIoy7YYV"

#plase don't share my api key everyone bro!!